<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.nda.thuchicanhan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LaunchActivity"
            android:label="Quản Lý Tài Chính"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Đăng nhập"/>
        <activity
            android:name=".RegisterActivity"
            android:label="Đăng ký" />
        <activity
            android:name=".RestorePassActivity"
            android:label="Khôi phục mật khẩu" />
        <activity
            android:name=".ManageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ResetDataActivity"
            android:label="Làm mới dữ liệu" />
        <activity android:name=".GetDataServerActivity" />
        <activity android:name=".SyncActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="Đổi mật khẩu"></activity>
    </application>

</manifest>